*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}

.container{
    background-color: #FFFF;
    margin: 50px auto  0 auto ;
    border: 1px solid black;
    width: 550px;
    height: 550px;
}

.pick-color{
    display: flex;
    justify-content: space-around;
    padding: 25px 14px;
}

#color-pick{
    border: none;
    border-color: transparent;
    width: 61px;
    height: 42px;

}
#mode{
    width: 312px;
    height: 42px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #111827;


}

.pick-colo
 button{
    text-align: center;
    background-color: white;
    border : 1px solid #D1D5DB;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    color: #374151;
    height: 42px;
    width: 123px;
    
}

.show-color{
    
    height: 417px;
    display: flex;
    justify-content: space-between;
}

.show-color .color-item{
    width: 110px;
    border: 1px solid black;
    height: inherit;

}

.color-hex{
    
    display: flex;
    
    
}

.color-hex .hex-item{
   
    width: 110px;
    text-align: center;
    margin: 11px 0px;
    /*margin: 0 32px 0 32px;*/
}